.input {
  border: none;
  padding: 10px;
  padding-right: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.container {
  position: relative;
}
.hintsContainer {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: #fff;
  padding: 10px 0;
  border-radius: 10px;
  width: 100%;
  display: grid;
}
.hint {
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: rgb(243, 243, 243);
  }
}
